<html>
    <head>
        <title>Search Spurs</title>
        <style>
            img, input {position:relative}
            img {margin-top:175px;margin-left:500px}
            input[type="text"] {margin-left:360px;width:550px;height:30px}
            input[type="button"] {height:30px}
        </style>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    </head>
    <body>
        <img src="../static/images/google.png" alt="google logo" /> <br>
        <input type="text"></input>
        <input type="button" value="search"></input>
    </body>
</html>
