<html>
    <head>
        <title>Login Page!!!!!!!!!</title>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script>
        /*$(function(){
            $('input#btn').click(function(){
                var name = $('input#name').text;
                var pw = $('input#pw').text;
                $xhr = $.ajax('/do_login/');
                $xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
            });
        });*/
        </script>
    </head>
    <body>
        <form action="/do_login/" method="post">{% csrf_token %}
            <label>name</label><input id="name" type="text" name="name" />
            <label>password</label><input id="pw" type="password" name="pw" />
            <input id="btn" type="submit" value="sure" />
        </form>
    </body>
</html>
